

extends layout

block header
  link(rel='stylesheet', href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css', integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==', crossorigin='anonymous')
  link(rel='stylesheet', href='https://unpkg.com/leaflet-pulse-icon@0.1.0/src/L.Icon.Pulse.css')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style.
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    @import url(https://fonts.googleapis.com/css?family=Lobster);
    body {font-family: 'Open Sans', Verdana, Arial, sans-serif;}
    /*
    body {font-family: Arial, Helvetica, sans-serif;}
    */
    #myImg {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    #myImg:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
      margin: auto;
      display: block;
      width: 80%; /* 100% 80%; */
      max-width: 1280px; /* 1902px 1280px 700px; */
    }

    /* Caption of Modal Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {  
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 100%){
      .modal-content {
        width: 100%;
      }
    }

    /* 270P : 480x270 */
    /* 360P : 640x360 */
    /* 480P : 854x480 */
    /* 260 : 7, 300 : 6, 360 : 5, 450 : 4, 600 : 3, 900 : 2 */
    img {
      border: 1px solid #ddd;
      border-radius: 1px;
      padding: 1px;
      width: 900px;
    }
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    /* Closable button inside the expanded image */
    .closebtn {
      position: absolute;
      top: 10px;
      right: 15px;
      color: white;
      font-size: 35px;
      cursor: pointer;
    }

    ul {
      list-style-type: none;
    }

    li {
      display: inline-block;
    }

    input[type='checkbox'][id^='ckbox_'] {
      display: none;
    }

    label {
      border: 1px solid #fff;
      padding: 0px;
      display: block;
      position: relative;
      margin: 0px;
      cursor: pointer;
    }

    label:before {
      background-color: white;
      color: white;
      content: ' ';
      display: block;
      border-radius: 50%;
      border: 1px solid grey;
      position: absolute;
      top: -5px;
      left: -5px;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 28px;
      transition-duration: 0.4s;
      transform: scale(0.6);
    }

    label img {
      width: 900px;
      transition-duration: 0.2s;
      transform-origin: 50% 50%;
    }

    :checked + label {
      border-color: #ddd;
    }

    :checked + label:before {
      content: "✓";
      background-color: grey;
      transform: scale(1);
    }

    :checked + label img {
      transform: scale(0.9);
      box-shadow: 0 0 5px #333;
      z-index: -1;
    }

    .center {
      text-align: center;
      border: 3px solid green;
    }

    /* style inputs and link buttons */
    input,
    ._btn {
      width: 100%;
      /*padding: 12px;*/
      border: none;
      border-radius: 4px;
      /*margin: 5px 0;*/
      opacity: 0.85;
      display: inline-block;
      font-size: 17px;
      line-height: 20px;
      text-decoration: none; /* remove underline from anchors */
    }

    input:hover,
    ._btn:hover {
      opacity: 1;
    }
    /* add appropriate colors to fb, twitter and google buttons */
    .fb {
      background-color: #3B5998;
      color: white;
    }
    .twitter {
      background-color: #55ACEE;
      color: white;
    }
    .google {
      background-color: #dd4b39;
      color: white;
    }
    .green {
      background-color: green;
      color: white;
    }
    .orange {
      background-color: orange;
      color: white;
    }

  script(src='/scripts/jquery-3.5.1.min.js')
  //- Make sure you put this AFTER Leaflet's CSS
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js', integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==', crossorigin='anonymous')
  script(src='https://unpkg.com/leaflet/dist/leaflet-src.js')
  script(src='https://unpkg.com/leaflet-pulse-icon@0.1.0/src/L.Icon.Pulse.js')
  //- [E2s] 2022.10.18 뒤로가기 방지책 추가
  script.
    window.history.forward();
    function noBack(){window.history.forward();}
  //- -------------------------------------
block content
  //- [E2s] 2022.10.18 뒤로가기 방지책 추가
  body( onload="noBack();" onpageshow="if(event.persisted){noBack();}" onunload="")
  //- -------------------------------------
  nav(class='navbar sticky-top navbar-expand-lg navbar-light bg-light')
    a(class='navbar-brand', href='/') 전기차 충전소 인식 시스템
    button(class='navbar-toggler', type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span(class='navbar-toggler-icon')
    div(class='collapse navbar-collapse', id='navbarNavAltMarkup')
      div(class='navbar-nav')
        //- a(class='nav-item nav-link active', href='#') Home span(class='sr-only')(current)
        a(class='nav-item nav-link active', href='/home?org=18') 의왕시
        a(class='nav-item nav-link disabled', href='#') 경기도
        
    span(style='float:right;')
      div(class='navbar-nav')
        -if (page_mod==0)
          a(class='nav-item nav-link active', href='/vnsnapshots/?mod=1&row='+page_row+'&ofs='+list_start, style='background:floralwhite;') 선택
        -else if (page_mod==1)
          button(class='_btn orange', onclick='delete_img('+list_start+', '+list_end+', '+list_count+', '+page_row+')', style='width:80px; height:24px; font-size:14px; margin-top:6px;') 삭제
          a(id='del_cancel', class='nav-item nav-link active', href='/vnsnapshots/?mod=0&row='+page_row+'&ofs='+list_start, style='background:floralwhite;') 취소
        a(class='nav-item nav-link active', href='/vnsnapshots/?mod='+page_mod+'&row=2', style='background:#FAFAFA;') 2 Row
        a(class='nav-item nav-link active', href='/vnsnapshots/?mod='+page_mod+'&row=3', style='background:#FAFAFA;') 3 Row
        a(class='nav-item nav-link active', href='/vnsnapshots/?mod='+page_mod+'&row=4', style='background:#FAFAFA;') 4 Row
        a(class='nav-item nav-link active', href='/vnsnapshots/?mod='+page_mod+'&row=5', style='background:#FAFAFA;') 5 Row
        a(class='nav-item nav-link active', href='/vnsnapshots/?mod='+page_mod+'&row=6', style='background:#FAFAFA;') 6 Row 
        a(class='nav-item nav-link active', href='/vnsnapshots/?mod='+page_mod+'&row=7', style='background:#FAFAFA;') 7 Row 
        a(class='nav-item nav-link active', href='/vnplace') 현황판
        a(class='nav-item nav-link active', href='/reglist') 전기차 등록차량 편집
        a(class='nav-item nav-link active', href='/login/signout') 로그아웃

  div(style='float:center; width:100%; margin-left:15px;  margin-top:10px; margin-bottom:10px;')
    div(class='row')
      div(class='col-xs', id='ckbox_list')
        ul(id='ckbox_ul')
        -var _img_w = (page_row == 2 ? 900 : (page_row == 3 ? 600 : (page_row == 4 ? 450 : (page_row == 5 ? 360 : (page_row == 6 ? 300 : (page_row == 7 ? 260 : (600)))))));
        //- -var _img_h = (_img_w*1080) / 1920;
        -file_list.forEach(_f_item => {
          -var ckb_id = 'ckbox_'+_f_item.index;
          -if (page_mod==0)
            img(src='/vnsnapshots/image/'+_f_item.name, style='width:'+_img_w+'px', onclick='select_img(this, \''+ckb_id+'\');', onError="this.style.visibility='hidden'")
          -else if (page_mod==1)
            li(id='ckbox_li_'+_f_item.index)
              input(type='checkbox', id=ckb_id)
              label(for=ckb_id)
                  img(src='/vnsnapshots/image/'+_f_item.name, style='width:'+_img_w+'px', onError="this.style.visibility='hidden'")
        -});

  //- Page : << [1] [2] [3] >>
  div(style='width:100%;')
    div(style='text-align:center; float:center;')
      -var _list_cnt = (page_row == 2 ? 2 : (page_row == 3 ? 6 : (page_row == 4 ? 12 : (page_row == 5 ? 15 : (page_row == 6 ? 24 : (page_row == 7 ? 35 : (6)))))));
      -var _lastPage = list_page * _list_cnt;
      -var _ofs = page_start;
      -if(page_start > 0)
        -_ofs = (page_start*_list_cnt) - _list_cnt;
        a(href='/vnsnapshots/list/?mod='+page_mod+'&row='+page_row+'&ofs='+_ofs+'&cnt='+_list_cnt, style='margin-right:5px;') <<
        -_ofs = _ofs + _list_cnt;
      -for (var i=page_start; i<page_end; i++)
        -if (_ofs < _lastPage)
          -if (i == page_num) 
            span(style='color:orange;') [ #{i+1} ]
          -else 
            a(href='/vnsnapshots/list/?mod='+page_mod+'&row='+page_row+'&ofs='+_ofs+'&cnt='+_list_cnt) [ #{i+1} ]
        -_ofs += _list_cnt;
      -if(list_page > page_end)
        -_ofs = (page_end*_list_cnt)
        a(href='/vnsnapshots/list/?mod='+page_mod+'&row='+page_row+'&ofs='+_ofs+'&cnt='+_list_cnt, style='margin-left:5px;') >>

  //- The Modal
  div(id='myModal' class='modal')
    input(type='text', class='form-control', id='close_h', style='float:left; width:0%; px; height:0px; font-size:0px; color=#0070C0;', placeholder='PID')
    span(class="close", onclick='close_span(this);') &times;
    //- span(onclick='this.parentElement.style.display=\'none\'', class='closebtn') &times;
    img(class='modal-content', id='modal_img')
    div(id="caption")

  div(id='status')

block body-scripts
  script.
    var url = '/vnsnapshots/status/-1';
    const evtSource = new EventSource(url);
    evtSource.onmessage = function(event) {
      if (event.data && event.data != '') {
        console.log(event.data);
        draw_status(JSON.parse(event.data));
      }
    }
    
    function overlayPic(_idx){
      $('removeImg_'+_idx).show();
    }
    function hideRemove(_idx) {
      $('removeImg_'+_idx).fadeOut();
    }
    function req_div_status(_val) {
      $('div#status').load(_val, function() {
        //- alert(new Date().getTime() - start);
      });
    }
    function req_command(_cmd, _val1, _val2) {
      //- $('#command_frame').attr('src', '/vnlist/command/?ip='+_host+'&cmd='+_cmd+'&value='+_val);
      req_div_status('/vnsnapshots/command/?cmd='+_cmd+'&val1='+_val1+'&val2='+_val2);
    }
    function _reload() {
      window.location.reload();
      // window.location = "http://www.example.com";
      // window.replace = "http://www.example.com";
    }
    function _replace() {
      //var del_cancel1 = document.getElementById('del_cancel').href;
      var del_cancel = document.getElementById('del_cancel').getAttribute('href');

      console.log('_replace() - del_cancel:'+del_cancel );

      window.location = del_cancel;
    }
 
    function delete_img(_start, _end, _count, _row) {
      console.log('delete_img() - _start:'+_start+', _end:'+_end+', _count:'+_count);
      var var_str = '';
      for(var i=_start; i<_end; i++) {
        var chbox = document.getElementById('ckbox_'+i);
        //console.log('delete_img() - '+chbox.checked );
        if (chbox != null && chbox.checked == true) {
          if (var_str.length > 0) var_str = var_str + '_'
          var_str = var_str + i;
          console.log('delete_img() - checked:'+i);
        }
          console.log('delete_img() - var_str:'+var_str);
      }

      //var del_cancel1 = document.getElementById('del_cancel').href;
      //console.log('delete_img() - del_cancel:'+del_cancel1);

      if (var_str.length > 0) {
        if (confirm("실행하시겠습니까?") == false) { //취소
          return false;
        }

        req_command(20, var_str, 0);
        //setTimeout(_reload, 500);
        setTimeout(_replace, 500);
      }

      return true;
    }
    function select_img(_imgs, _ckb_id) {
      //document.getElementById(_ckb_id).checked = false;
      //document.getElementById("close_h").value = _ckb_id;

      var hash = new Date().getTime();

      // Get the modal
      var modal = document.getElementById("myModal");
      // Get the image and insert it inside the modal - use its "alt" text as a caption
      var modalImg = document.getElementById("modal_img");
      var captionText = document.getElementById("caption");
      //captionText.innerHTML = this.alt;
      modalImg.src = _imgs.src + '?t=' + hash;
      //modalImg.src = '/vnsnapshots/image/20201224042116_223_171_72_144-12345.jpg';
      //modalImg.parentElement.style.display = "block";
      modal.style.display = "block";
    }

    function close_span(_span) {
      //var _ckb_id = document.getElementById("close_h").value;
      //document.getElementById(_ckb_id).checked = false;

      // Get the modal
      var modal = document.getElementById("myModal");
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      modal.style.display = "none";
    }

    function req_select() {
      //- console.log('req_select() - _id['+_id+'] _num['+_num+']');
      //- document.getElementById('ev_num').style.color = '#0070C0';
      //- document.getElementById('ev_num').value = _num;
      //- document.getElementById('ev_id').style.color = '#0070C0';
      //- document.getElementById('ev_id').value = _id;
    }

   function req_insert(_id, _num) {
      if (confirm("실행하시겠습니까?") == false) { //취소
        return false;
      }
      //- req_command(8, _id, _num);
      //- setTimeout(_reload, 500);
      return true;
    }

    function req_delete(_id, _num) {
      if (confirm("실행하시겠습니까?") == false) { //취소
        return false;
      }
      //- req_command(9, _id, _num);
      //- setTimeout(_reload, 500);
      return true;
    }

    function reg_insert() {
      //- var _id = document.getElementById('ev_id').value;
      //- var _num = document.getElementById('ev_num').value;
      //- if (_num != null && _num != '') {
      //-   return req_insert(_id, _num);
      //- }
      return false;
    }

    function reg_delete() {
      //- var _id = document.getElementById('ev_id').value;
      //- var _num = document.getElementById('ev_num').value;
      //- if (_id != null && _id != '') {
      //-   return req_delete(_id, _num);
      //- }
      return false;
    }

    function draw_status(_dbody) {
      console.log('draw_status()');
      // var hash = new Date().getTime();
      // document.getElementById('plate_image').src = _dbody.path+'?t='+hash;
    }
